# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Debug files
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build
dist/
coverage/
